<% if signed_in? and false%>
  <!-- I should use the user role here to see what sections to add -->
  <div class="row">
    <aside class="span4">
      <!-- <section>
        <%#= render 'shared/user_info' %>
      </section> -->
      <section>
        <%= render 'shared/restaurant_form' %>
      </section>
    </aside>
    <div class="span8">
	    <h3>Restaurants</h3>
	    <%= render @restaurants %>
    </div>
  </div>
  <% if can? :manage, @restaurant %>
    hello world!
  <% end %>
<% elsif signed_in? and current_user.is?('default') %>
  <div>The default user should see this line.</div>
<% elsif signed_in? and current_user.is?('manager') %>
  <!-- Can create restaurant, cook, waiter, guest, cashier -->
  <div>The manager should see this line.</div>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/restaurant_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Restaurants</h3>
      <%= render @restaurants %>
    </div>
  </div>
<% elsif signed_in? and current_user.is?('waiter') %>
  <!-- Can create bill, change status of items and bills, pay the bills -->
<% elsif signed_in? and current_user.is?('cook') %>
  <%= render @tables %>
  <!-- Can change the status of items, print item tags -->
<% elsif signed_in? and current_user.is?('guest') %>
  <!-- Can create bill, add items. -->
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
  <% if can? :update, @restaurant %>
    hello world!
  <% end %>
<% end %>
<!-- Here we allow manager to create other account kinds. -->